name: Retrieve current rule

on:
    workflow_dispatch:
    schedule:
      - cron: '0 0 * * *' # 00:00 everyday

jobs:
    fetch:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write

        steps:
            - name: Fetch repo
              uses: actions/checkout@v4

            - name: Read rule
              env:
                  API_TOKEN: ${{ secrets.API_TOKEN }}
                  ZONE_ID: ${{ secrets.ZONE_ID }}
                  RULESET_ID: ${{ secrets.RULESET_ID }}
                  RULE_ID: ${{ secrets.RULE_ID }}
              run: python3 ./fetch_rule.py

            - name: Commit and push
              run: |
                git config --local user.name "github-action[bot]"
                git config --local user.email "runner@github.com"
                git add ./current_rule.txt
                git commit -m "Update rule" || exit 0
                git push